#####################
## [ BastilleBSD ] ##
#####################

## default paths
bastille_prefix=/usr/local/bastille                                   ## default: "/usr/local/bastille"
bastille_backupsdir=${bastille_prefix}/backups                        ## default: ${bastille_prefix}/backups
bastille_cachedir=${bastille_prefix}/cache                            ## default: ${bastille_prefix}/cache
bastille_jailsdir=${bastille_prefix}/jails                            ## default: ${bastille_prefix}/jails
bastille_logsdir=${bastille_prefix}/logs                              ## default: ${bastille_prefix}/logs
bastille_releasesdir=${bastille_prefix}/releases                      ## default: ${bastille_prefix}/releases
bastille_templatesdir=${bastille_prefix}/templates                    ## default: ${bastille_prefix}/templates

## bastille scripts directory (assumed by bastille pkg)
bastille_sharedir=/usr/local/share/bastille                           ## default: "/usr/local/share/bastille"

## bootstrap archives (base, lib32, ports, src, test)
bastille_bootstrap_archives="base"                                    ## default: "base"

## default timezone
bastille_tzdata="etc/UTC"                                             ## default: "etc/UTC"

## default jail resolv.conf
bastille_resolv_conf="/etc/resolv.conf"                               ## default: "/etc/resolv.conf"

## bootstrap urls
bastille_url_freebsd="http://ftp.freebsd.org/pub/FreeBSD/releases/"          ## default: "http://ftp.freebsd.org/pub/FreeBSD/releases/"
bastille_url_hardenedbsd="http://installer.hardenedbsd.org/pub/hardenedbsd/" ## default: "https://installer.hardenedbsd.org/pub/HardenedBSD/releases/"

## ZFS options
bastille_zfs_enable=""                                                ## default: ""
bastille_zfs_zpool=""                                                 ## default: ""
bastille_zfs_prefix="bastille"                                        ## default: "${bastille_zfs_zpool}/bastille"
bastille_zfs_options="-o compress=lz4 -o atime=off"                   ## default: "-o compress=lz4 -o atime=off"

## Export/Import options
bastille_compress_xz_options="-0 -v"                                  ## default "-0 -v"
bastille_decompress_xz_options="-c -d -v"                             ## default "-c -d -v"

## Networking
bastille_network_loopback="bastille0"                                 ## default: "bastille0"
bastille_network_shared=""                                            ## default: ""
bastille_network_gateway=""                                           ## default: ""
